build:
  type: text
  content: |-
    #/bin/sh
    docker build -f Dockerfile -t google_book_api:$GIT_COMMIT_ID . 
    docker tag google_book_api:$GIT_COMMIT_ID  google_book_api:$ROOST_NAMESPACE  
deploy:
  type: text
  content: '#/bin/sh'
test: []
uninstall:
  type: text
  content: ''
dockerCompose: googlebookapi.yaml
lastUpdatedBy: Vivek K B
lastUpdatedOn: 2023-01-12T08:44:12.523Z
