build:
  type: text
  content: |-
    #/bin/sh
    docker build -f Dockerfile -t google_book_api:$GIT_COMMIT_ID . 
    docker tag google_book_api:$GIT_COMMIT_ID  google_book_api:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |
    #/bin/sh
    kubectl apply -n $ROOST_NAMESPACE -f googlebookapi.yaml
test: []
uninstall:
  type: text
  content: |
    #!/bin/sh

    kubectl delete -n $ROOST_NAMESPACE -f googlebookapi.yaml
dockerCompose: googlebookapi.yaml
lastUpdatedBy: Vivek K B
lastUpdatedOn: 2023-01-20T04:56:04.797Z
