build:
  type: text
  content: |-
    #/bin/sh
    docker build -f Dockerfile -t google_book_api:$GIT_COMMIT_ID . 
    docker tag google_book_api:$GIT_COMMIT_ID  google_book_api:$ROOST_NAMESPACE  
deploy:
  type: None
  content: ''
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: googlebookapi.yaml
lastUpdatedBy: Vivek K B
lastUpdatedOn: 2023-01-17T06:59:31.179Z
